body {
  background-color: white;
  margin: 0;
  font-family: Poppins, sans-serif;

}

.grey {
  color: #918E98;
}

.bold {
  font-weight: bold;
}

nav {
  padding-left: 22px;
  padding-block: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);

}



.hero-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    

}

.hero-image {

  width: 395px;
  height: 232px;


}

.hero-h1 {
 align-self: first baseline;
 margin-bottom: 16px;
}

.hero-p {
  align-self: baseline;
  max-width: 310px;
  margin-top: 0px;
}

.card-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;

}

.card {
  position: relative;
  font-size: 12px;
  width: 175px;
  padding: 20px;
  flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}

.card-image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-badge {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 5px 7px;
  border-radius: 2px;
  background-color: white;
  font-weight: bold;
}

.card-info {
  align-items: center;
  text-wrap: nowrap;
}

.card-star {
  height: 14px;
}