body {
  background-color: white;
  margin: 0;
  font-family: Poppins, sans-serif;

}

.grey {
  color: #918E98;
}

.bold {
  font-weight: bold;
}

nav {
  padding-left: 22px;
  padding-block: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);

}

.nav-logo {

}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    

}

.hero-image {

  width: 395px;
  height: 232px;


}

.hero-h1 {
 align-self: first baseline;
 margin-bottom: 16px;
}

.hero-p {
  align-self: baseline;
  max-width: 310px;
  margin-top: 0px;
}


.card {
  font-size: 12px;
  width: 175px;
  padding: 20px;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-info {
  align-items: center;
}

.card-star {
  height: 14px;
}